.App {
  text-align: center;
}
.content
{
  min-height: 100vh;
  overflow: hidden;

}
.bg{
  background-image: url(../src/assets/bg.jpeg);
  min-height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.left
{
  position: relative;
  left: 5%;
}
/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.navbar-toggler-icon
{
  filter: invert(0%) sepia(0%) saturate(5599%) hue-rotate(329deg) brightness(98%) contrast(104%);
}

.navbar-dark .navbar-toggler
{
  filter: invert(0%) sepia(0%) saturate(5599%) hue-rotate(329deg) brightness(98%) contrast(104%);
}

